<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Zabbix hosts - Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_create.css') }}">
</head>
<body>
    <div class="container">
        <!-- Logo -->
        <img src="{{ url_for('static', filename='images/logo_simplefibra.jpg') }}" alt="Logo" class="logo" width="300">
        
        <h1>Resumen de resultados</h1>
        
        {% if not success %}
            <p>No se creó ningún host. Verifica si ya existen o si hubo un error en el archivo cargado.</p>
        {% else %}
            <div class="download-section">
                <h3>Reporte de resultados creado:</h3>
                <p>Contiene el detalle de los hostid creados para cada cliente.</p>
                <a href="{{ url_for('descargar_archivo', filename=report_filename) }}" class="download-btn">
                    Descargar resultados
                </a>
            </div>

            <!-- Mostrar resultados -->
            <ul class="result-list">
                {% for resultado in resultados %}
                    <li>{{ resultado }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        
        <!-- Botón para volver -->
        <a href="{{ url_for('upload_file_create') }}" class="back-link">Volver</a>

        <div class="watermark">Powered by Juan Caseres</div>
    </div>
</body>
</html>
