body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.flash-message {
    background-color: #f9d6d5;
    color: #d9534f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.flash-message ul {
    list-style-type: none;
    padding: 0;
}

.flash-message li {
    padding: 5px;
}

.upload-form label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.upload-form input[type="file"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upload-form .submit-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: auto;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px;
}

.upload-form .submit-btn:hover {
    background-color: #45a049;
}

.result-list {
    list-style-type: none;
    padding: 0;
}

.result-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result-list li:last-child {
    border-bottom: none;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #98999b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #f6a800;
}

/* Estilos del logo */
.logo {
    margin-bottom: 20px;
}

.watermark {
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-style: italic;
}

/* Botones */
.submit-btn, .download-btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.submit-btn, .download-btn {
    background-color: #4CAF50;
    margin-top: 10px;
}

.submit-btn:hover, .download-btn:hover {
    background-color: #45a049;
}